.distribution {
  display: flex;
  justify-content: space-between; /* već razdvaja */
  align-items: flex-start;
}
.left,
.right {
  gap: 20px;
}
.left {
  margin-right: 50gipx;
}

.right {
  margin-left: 50px;
}
