html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.distribution {
  display: flex;
  gap: 120px;
}

.right {
  display: grid;
  gap: 10px;
}

.left {
  margin-left: 20px;
}

h1,
h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  color: #808080;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}
input[type="password"] {
  border: 2px solid red;
}

input:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
